footer {
    padding: 20px;
    text-align: center;
    background: rgba(255, 255, 255,0.25);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #4e4e4e;
}

    footer p span {
        margin-top:10px;
        display: block;
    }
