body #wrapper main section ul {
    list-style:none;
    text-align:center;
}

body #wrapper main section ul li {
    display:inline-block;
    margin-left:2%;
    margin-bottom:2%;
    text-align:left;    
}

body #wrapper main section ul li div h4 {
	text-align:center;
	margin:10px 0;
	color:tomato;
}

body #wrapper main section ul li div p span{
    font-weight:bold;
}

body #wrapper main section ul li div img{
    width: 255px;
    height: 255px;
	border-radius: 15px;
	box-shadow: 1px 1px 3px 1px grey;
}

main > section > ul > li > div > h4 {
	text-shadow: 1px 1px 2px black;
}