body main section {
    padding: 20px;
}

    body main section > h3 {
        font-size: 1.2em;
        padding-bottom: 10px;
    }


body #wrapper main > .container {
    max-width: 960px;
    padding: 0;
}

body #wrapper main .container .carousel-inner > .item > img,
body #wrapper main .container .carousel-inner > .item > a > img {
    height: 350px;
    margin: auto;
}

body #wrapper section #left-side {
    float: left;
}

body #wrapper section #left-side, body #wrapper section #right-side {
    max-width: 48%;
    margin: 0;
    display: inline-block;
    padding:15px;
}

    body #wrapper section #left-side h3, body #wrapper section #right-side h3 {
        font-weight: bold;
        text-align: center;
        min-height: 40px;
        margin-bottom: 20px;
        color:tomato;
    }

    body #wrapper section #left-side ul, body #wrapper section #right-side ul {
        list-style: none;
    }
